APP_ENV=dev
APP_SHARE_DIR=var/share

DEFAULT_URI=http://localhost
APP_SECRET=clé_secrete_symfony

DATABASE_URL=lien_de_la_base_de_donnée
###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###> symfony/mailer ###
MAILER_DSN=smtp_de_l_email